.book-form {
  display: grid;
  /* grid-template-columns: auto 1fr; */
  gap: 7px;
  padding-top: 20px;
  color: rgb(39, 14, 61);
}

.t-and-c {
  border: 2px rgb(184, 167, 167) outset;
  align-items: start;
  
}

input[type="radio"] {
  margin: 0;
  width: 44px;
  
}

input[type="submit"] {
  justify-self: center;
  border: 1px dashed darkslategray
}

input,
textarea {
  padding: 8px;
  margin: 8px;
  border-radius: 2em;
  border: 2px solid #decbcb;
  width: 220px;
}