
.clientList_containter {
border: 2px groove gold;
width: max-content;
height: 100vh;
display: flex;
flex-direction: column;
align-self: center;
gap: 32px;
padding: 40px;

}

.client_card {
    border: 8px groove rgb(13, 237, 218);
    border-radius: 28px;
    width: fit-content;
    padding: 22px;
align-self: center;

}

