.wrapper {
    background-image: url('../assets/cnl.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(74%) contrast(92%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    height: 100vh;
}

.greeting {
    color: teal;
    font-weight: bolder;
    border: 4px rgba(236, 151, 120, 0.821) outset;
    padding: 30px;
}

button {
    font-size: 28px;
    background: repeating-linear-gradient(to right, #eb95e4,
            #9a2ecb 13%,
            #1a7968 44%,
            #edba55 75%,
            #a4394f)
}

@media (max-width: 768px) {
    .wrapper {
        background-size: contain;
        background-repeat: repeat;
        width: 100%;
    }
}