.each_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 11px;
    width: 80%;
    padding: 20px;
    margin: auto;
}

.styleObj {
    text-align: center;
    gap: 20px;

}

.styleObj img {
    margin: 20px;
    padding: 2px;
    border: 4px white inset;
    width: 50%;
    border-radius: 11px;
}

.styleKeys {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.styleKeys span {
    color: rgb(202, 196, 194);
}

.feature_buttons {
    display:flex;
  
    margin: 10px 0;
}

.style_buttons {
    padding: 10px;
    font-size: 16px;
}