.stylesList-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 32px;
  margin: 20px;
  padding: 11px;
}

.styles_images {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 1px outset white;
  border-radius: 8px;
  filter: drop-shadow(22px 22px 22px rgba(92, 80, 102, 0.882));
}

.stylesIndex_card {
  border: 3px teal outset;
  border-radius: 1em;
  width: 88%;
  padding: 10px;
  margin: 20px 0 1px 0;
}

  @media screen and (max-width: 758px) {
    .stylesList-container {
      flex-direction: column;
      align-items: stretch;
      grid-template-columns: 1fr;
    }

    .stylesIndex_card {
      width: 90%; 
      margin: 12px; 
    }

    .styles_images {
      width: 150px; 
    }
  }