.each_style {
    display: grid;
    border: 1px solid white;
    border-radius: 11px;
    width: fit-content;
    /* height: fit-content; */
    padding: 44px;
    margin: auto;
}

img {
    margin: 22px;
    padding: 2px;
    border: 4px white inset;
    width: 150px;
    height: 200px;
    height: auto;
    border-radius: 11px;
    position: relative;
}

.styleKeys {
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

span {
    color: rgb(202, 196, 194);
    display: flex;
    align-content: left;
}

.feature_buttons,
.style_buttons {
    margin: 22px;
}



@media screen and (max-width: 768px) {}