.each_style {
    display: flex;
    border: 1px solid white;
    border-radius: .5em;
}


img {
    border: 4px white inset;
    max-width: 100%; 
    height: auto;
}

.styleKeys {
    border: 2PX SOLID teal;
   
}